.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  background-color: white;
  padding: 3rem 2rem;
  border-radius: 5px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.expandable {
  max-width: 30rem;
}

p {
  padding-top: 1rem;
  line-height: 150%;
}
